// adaptive

$large: 1400px;
$medium-m: 1200px;
$medium: 1100px;
$medium-s: 1000px;
$tablet: 800px;
$tablet-s: 680px;
$mobile-m: 550px;
$mobile: 500px;
$small: 400px;

// colors
$white: #fff;
$black: #000;
