<script setup lang="ts">
import Heading from '@/components/UI/Heading.vue'
import { useModalOptions } from '@/stores/modalOptions.js'
import type { Order } from '@/interfaces/Order'

interface Props {
  header: string
  products: Order[]
}

defineProps<Props>()

const emit = defineEmits<{
  (e: 'delete', product: Order): void
}>()

const { isActive, close } = useModalOptions()
const status = (element: number) => (element === 1 ? 'newProduct' : 'usedProduct')
</script>

<template>
  <div class="products__list" v-if="isActive">
    <div class="products__list__wrapper">
      <Heading v-if="products" :title="$t('addProduct')" :amount="products.length" />

      <div>
        <table class="table" v-if="products.length">
          <tr class="table__tr" v-for="product in products" :key="product.id">
            <td class="table__td">
              <div class="table__image-inner">
                <div class="table__image">
                  <img class="table__image-img" :src="product.photo" :alt="product.type" />
                </div>
                <div class="table__title">{{ product.title }}</div>
              </div>
            </td>

            <td class="table__td">
              <div>{{ $t(status(product.isNew)) }}</div>
            </td>

            <td class="table__td">
              <button class="table__close-button" @click="emit('delete', product)">✕</button>
            </td>
          </tr>
        </table>
        <div class="products__list__empty" v-else>{{ $t('empty') }}</div>
      </div>
    </div>
    <div class="products__list__close">
      <button class="products__list__close-button" @click="close">✕</button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.products__list {
  padding-right: 20px;
  min-width: 200px;
  min-height: 100px;
}

.products__list__wrapper {
  padding-left: 10px;
}

.products__list__inner {
  padding: 20px 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.products__list__empty {
  padding: 20px;
}

.products__list__button {
  background-color: #0da003;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}

.products__list {
  background-color: #f0f0f0;

  max-width: 700px;
  width: 100%;
  position: relative;
}

.loading-component {
  max-width: 100px;
  margin: auto;
}

.products__list__header {
  padding: 20px 40px;
  margin: 0;
  border-bottom: 1px solid #000;

  @include respond-to($mobile-m) {
    font-size: 14px;
  }
}

.products__list__item {
  padding: 20px 40px;
}

.products__list__close-button {
  top: 0;
  right: 0;
  padding: 5px 8px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  position: absolute;
  background-color: #dcdcdc;
  border: none;
  cursor: pointer;
}

.table__td {
  border: none;
  white-space: normal;

  @include respond-to($tablet-s) {
    padding-right: 10px;
  }

  &:nth-child(2) {
    @include respond-to($mobile-m) {
      display: none;
    }
  }
}

.table__image {
  width: 50px;
}
</style>
