@import '@/assets/scss/variables.scss';

@mixin respond-to($media) {
  @if $media == $mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  } @else if $media == $small {
    @media only screen and (max-width: $small) {
      @content;
    }
  } @else if $media == $medium {
    @media only screen and (max-width: $medium) {
      @content;
    }
  } @else if $media == $large {
    @media only screen and (max-width: $large) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $media) {
      @content;
    }
  }
}
