@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.table {
  border-spacing: 0 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  background-color: transparent;

  &-component {
    padding-right: 150px;

    @include respond-to($mobile) {
      padding-right: 0;
    }
  }

  &__title {
    font-size: 17px;
    text-decoration: underline;

    @include respond-to($mobile) {
      font-size: 15px;
    }
  }

  &__amount-inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__span-inner {
    display: flex;
    flex-direction: column;
  }

  &__span--amount {
    font-size: 18px;
    font-weight: 700;

    @include respond-to($mobile) {
      font-size: 15px;
    }
  }

  &__price--usd {
    font-size: 12px;
  }

  &__amount-button,
  &__close-button {
    font-size: 25px;
    color: #000;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__close-button {
    @include respond-to($mobile) {
      font-size: 14px;
    }
  }

  &__image-inner {
    display: flex;
    gap: 10px;
  }

  &__td {
    vertical-align: middle;
    padding: 10px;
    padding-right: 50px;
    font-size: 14px;
    text-align: left;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    white-space: nowrap;
    cursor: default;
    width: 100%;
  }

  &__td:first-child {
    border-left: 1px solid #b2b2b2;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding-left: 20px;
  }

  &__td:last-child {
    border-right: 1px solid #b2b2b2;
    border-radius: 0 5px 5px 0;
    padding-right: 20px;
  }

  &__tr {
    transition: all 0.3s;
    border-radius: 5px;

    &:hover {
      transform: scale(0.97);
    }
  }

  &__scroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__image {
    min-width: 50px;
  }

  &__td {
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  &__td--open {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 4px 4px 0;
    bottom: 0;
    width: 50px;
    z-index: 100;
    background-color: #dedede;
    background-image: url('../../public/images/svg/arrow.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all 0.3s;
  }

  &__tr {
    &:hover {
      .table__td--open {
        opacity: 1;
      }
    }
  }
}
