<script setup lang="ts">
import { useCurrentTime } from '@/composables/currentTime.js'

const { currentDate, currentTime } = useCurrentTime()
</script>

<template>
  <div class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo">
          <router-link to="/">ALLVUE</router-link>
        </div>
        <div class="header__inner">
          <div class="header__current-day">
            <span class="header__current-day__span">{{ $t('today') }}</span>
            <span class="header__current-day__span">{{ currentDate }}</span>
          </div>
          <div class="header__current-time">{{ currentTime }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.header {
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
  padding: 20px 50px;
  box-shadow: 0px 5px 14px -6px rgba(189, 189, 189, 0.75);

  @include respond-to($mobile) {
    padding: 10px 30px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

.header__inner {
  display: flex;
  align-items: flex-end;
  gap: 30px;

  @include respond-to($mobile) {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }
}

.header__current-day {
  display: flex;
  flex-direction: column;
}

.header__current-day__span {
  display: block;
}
</style>
