<template>
  <div class="navigation">
    <div class="navigation__wrapper">
      <ul class="navigation__list">
        <li class="navigation__item">
          <router-link class="navigation__item-link" to="/">
            <img class="navigation__item-image" src="../../../public/images/user.png" alt="" />
          </router-link>
        </li>
        <li class="navigation__item">
          <router-link class="navigation__item-link" to="/">{{ $t('route.coming') }}</router-link>
        </li>
        <li class="navigation__item">
          <router-link class="navigation__item-link" to="/groups">{{
            $t('route.groups')
          }}</router-link>
        </li>
      </ul>
      <button class="navigation__button" @click="$i18n.locale = `RU`">RU</button>
      <button class="navigation__button" @click="$i18n.locale = `EN`">EN</button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.navigation {
  min-width: 120px;
}

.navigation__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #ececec;
  box-shadow: 7px 0px 14px -6px rgba(171, 171, 171, 0.75);

  @include respond-to($mobile) {
    position: relative;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;

  @include respond-to($mobile) {
    margin-bottom: 20px;
  }
}

.navigation__item {
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
  &:first-child {
    margin-bottom: 50px;

    @include respond-to($mobile) {
      margin-bottom: 0;
    }
  }
  @include respond-to($mobile) {
    font-size: 13px;
  }
}

.navigation__item-link {
  color: #000;
}

.navigation__item-image {
  width: 70px;
  height: 70px;
  border-radius: 500%;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;

  @include respond-to($mobile) {
    width: 40px;
    height: 40px;
  }
}

.navigation__button {
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin-bottom: 10px;

  @include respond-to($mobile) {
    font-size: 13px;
  }
}
</style>
