<script setup lang="ts">
import Loading from '@/components/UI/Loading.vue'
import Heading from '@/components/UI/Heading.vue'
import Modal from '@/components/Modal/Modal.vue'
import Table from '@/components/Table/Table.vue'
import { useOrdersStore } from '@/stores/orders.js'
import { useModalOptions } from '@/stores/modalOptions.js'
import { onMounted, onUnmounted } from 'vue'

const { close } = useModalOptions()
const { getOrders, deleteItem, orders, ordersList, isLoading } = useOrdersStore()

onMounted(async () => {
  if (!orders.length) {
    await getOrders()
  }
})

onUnmounted(() => close())
</script>

<template>
  <div class="loading-component" v-if="isLoading">
    <Loading />
  </div>
  <div class="coming" v-else>
    <Heading :title="$t('comings')" :amount="ordersList.length" />
    <div class="table__scroll" v-if="ordersList.length">
      <Table class="table-component" :items="ordersList" :groups="false" />
    </div>
    <div v-else>{{ $t('empty') }}</div>

    <Modal @delete="deleteItem" />
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.loading-component {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
}
</style>
