<script setup lang="ts">
import Loading from '@/components/UI/Loading.vue'
import Heading from '@/components/UI/Heading.vue'
import ProductsList from '@/components/Products/ProductsList.vue'
import Table from '@/components/Table/Table.vue'
import { useOrdersStore } from '@/stores/orders'
import { useModalOptions } from '@/stores/modalOptions.js'
import { onMounted, onUnmounted } from 'vue'
import { useProductsStore } from '@/stores/products.js'
import type { Order } from '@/interfaces/Order'

const { open, close } = useModalOptions()
const { getProducts, deleteProduct, productsList } = useProductsStore()
const { orders, getOrders, ordersList, isLoading } = useOrdersStore()

async function openProductList(item: Order) {
  open(item)
  await getProducts(item.id)
}

onMounted(async () => {
  if (!orders.length) {
    await getOrders()
  }
})

onUnmounted(() => close())
</script>

<template>
  <div class="loading-component" v-if="isLoading">
    <Loading />
  </div>
  <div class="groups" v-else>
    <Heading :title="$t('groups')" :amount="ordersList.length" />

    <div class="table__scroll">
      <div class="groups__wrapper">
        <div v-if="ordersList.length">
          <Table :items="ordersList" :groups="true" @open-product-list="openProductList" />
        </div>
        <div v-else>Список приходов пуст...</div>
        <div class="modal-products__container">
          <ProductsList
            :products="productsList"
            :header="$t('productName')"
            @delete="deleteProduct"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.groups__wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;

  @include respond-to($medium-s) {
    flex-direction: column;
  }
}

.loading-component {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
}

.table {
  max-width: 328px;
}

.modal-products__container {
  width: 100%;
  padding-right: 30px;
}
</style>
