<script setup lang="ts">
import { useModalOptions } from '@/stores/modalOptions.js'
import { useProductsStore } from '@/stores/products.js'
import { onMounted, ref, watch, onUnmounted } from 'vue'
import { useRoute } from 'vue-router'
import type { Order } from '@/interfaces/Order'
import Loading from '@/components/UI/Loading.vue'
import Heading from '@/components/UI/Heading.vue'
import Modal from '@/components/Modal/Modal.vue'
import Table from '@/components/Table/Table.vue'

const { close, currentItem } = useModalOptions()
const { productsList, getProducts, deleteItem, isLoading } = useProductsStore()
const { params } = useRoute()
const originalDate = ref<Order[] | []>([])
const selected = ref('')
const options = ref([
  { value: 'Monitors', id: 1, title: 'monitor' },
  { value: 'TV', id: 2, title: 'monitor' },
  { value: 'Screen', id: 3, title: 'monitor' },
  { value: 'Mac', id: 4, title: 'monitor' }
])

watch(selected, (newOption) => {
  if (!newOption) {
    originalDate.value = productsList.value
  } else {
    originalDate.value = productsList.value.filter((item: Order) => item.type === newOption)
  }
})

onMounted(async () => {
  await getProducts(+params.id)
  originalDate.value = productsList.value
})

onUnmounted(() => close())
</script>

<template>
  <div class="loading-component" v-if="isLoading">
    <Loading />
  </div>

  <div v-else>
    <div class="products">
      <div class="products__inner">
        <Heading :title="$t('products')" :amount="productsList.length" />
        <select v-model="selected">
          <option value="">{{ $t('all') }}</option>
          <option v-for="option in options" :key="option.id">
            {{ option.value }}
          </option>
        </select>
      </div>

      <div class="table__scroll">
        <div v-if="productsList.length">
          <Table class="table-component" :groups="false" :items="originalDate" />
        </div>
        <div v-else>Список приходов пуст...</div>
        <Modal :header="$t('deleteMessage')" @delete="deleteItem" :item="currentItem" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.products__inner {
  display: flex;
  align-items: center;
  gap: 30px;

  @include respond-to($mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
  }
}

.products__button {
  background-color: #0da003;
  border: none;
  color: #fff;
  padding: 5px 9px;
  border-radius: 50%;
}

.loading-component {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
}
</style>
