<script setup lang="ts">
import { useModalOptions } from '@/stores/modalOptions.js'
import type { Order } from '@/interfaces/Order'

const { close, isActive, item } = useModalOptions()
const emit = defineEmits<{
  (e: 'delete', item: Order | null): void
}>()
</script>

<template>
  <div class="modal__fix" v-if="isActive">
    <div class="modal">
      <div class="modal__inner">
        <h3 class="modal__header">
          {{ $t('deleteMessage') }}
        </h3>

        <div class="modal__item" v-if="item">
          <div class="modal__item-image" v-if="item.photo">
            <img :src="item.photo" />
          </div>
          <div>
            {{ item.title }}
          </div>
        </div>
      </div>
      <div class="modal__delete">
        <div class="modal__delete-inner">
          <button class="modal__delete-button modal__delete-button--stop" @click="close">
            {{ $t('cancelButton') }}
          </button>
          <button
            class="modal__delete-button modal__delete-button--contine"
            @click="emit('delete', item)"
          >
            {{ $t('deleteButton') }}
          </button>
        </div>
      </div>
      <div class="modal__close">
        <button class="modal__close-button" @click="close">✕</button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.modal__fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(106, 106, 106, 0.3);
}

.modal {
  background-color: #f0f0f0;
  max-width: 700px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond-to($tablet) {
    max-width: 500px;
  }

  @include respond-to($mobile-m) {
    max-width: 300px;
  }
}

.modal__header {
  padding: 20px 40px;
  margin: 0;
  border-bottom: 1px solid #000;
}

.modal__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
}

.modal__item-image {
  width: 100px;
}

.modal__delete {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #35bd35;
  height: 100px;
  width: 100%;

  @include respond-to($mobile-m) {
    justify-content: center;
  }
}

.modal__delete-inner {
  margin-right: 30px;
  display: flex;
  gap: 30px;

  @include respond-to($mobile-m) {
    margin-right: 0;
  }
}

.modal__delete-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modal__delete-button--stop {
  color: #fff;
}

.modal__delete-button--contine {
  color: #ff0000;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 20px;
}

.modal__close-button {
  top: 0;
  right: 0;
  padding: 5px 8px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  position: absolute;
  background-color: #dcdcdc;
  border: none;
  cursor: pointer;
}
</style>
