<script setup lang="ts">
import { useModalOptions } from '@/stores/modalOptions.js'
import type { Order } from '@/interfaces/Order'

interface Props {
  items: Order[]
  groups: boolean
}

defineProps<Props>()

const emit = defineEmits<{
  (e: 'openProductList', item: Order): void
}>()

const { open } = useModalOptions()
const status = (element: number) => (element === 1 ? 'новый' : 'Б/У')
</script>

<template>
  <table class="table" v-if="groups">
    <tr
      class="table__tr"
      v-for="item in items"
      :key="item.id"
      @click="emit('openProductList', item)"
    >
      <td class="table__td">
        <div class="table__amount-inner">
          <div class="table__link">
            <button class="table__amount-button" @click="open(item)">☰</button>
          </div>
          <div class="table__span-inner">
            <span class="table__span table__span--amount">{{ item.amount }}</span>
            <span class="table__span">{{ $t('products') }}</span>
          </div>
        </div>
      </td>
      <td class="table__td">
        <div class="table__date">{{ item.date }}</div>
      </td>
      <td class="table__td">
        <div class="table__td--open"></div>
      </td>
    </tr>
  </table>
  <table class="table" v-else>
    <tr class="table__tr" v-for="item in items" :key="item.id">
      <router-link class="link" :to="`/orders/${item.id}`">
        <td class="table__td" v-if="item.photo">
          <div class="table__image">
            <img class="table__image-img" :src="item.photo" :alt="item.type" />
          </div>
        </td>
        <td v-if="item.title" class="table__td">
          <div class="table__title">{{ item.title }}</div>
        </td>
        <td class="table__td" v-if="item.guarantee">
          <div>
            <div>с {{ item.guarantee.start }}</div>
            <div>по {{ item.guarantee.end }}</div>
          </div>
        </td>
        <td class="table__td" v-if="item.isNew">
          <div>{{ status(item.isNew) }}</div>
        </td>
        <td class="table__td" v-if="item.price[0] || item.price[1]">
          <div>
            <div v-if="item.price[0]">{{ `${item.price[0].value} ${item.price[0].symbol}` }}</div>
            <div v-if="item.price[1]">{{ `${item.price[1].value} ${item.price[1].symbol}` }}</div>
          </div>
        </td>
        <td class="table__td" v-if="item.groupName">
          <div>{{ item.groupName }}</div>
        </td>

        <td v-if="item.amount" class="table__td">
          <div class="table__amount-inner">
            <div class="table__link">
              <router-link :to="`/orders/${item.id}`">
                <button class="table__amount-button">☰</button>
              </router-link>
            </div>
            <div class="table__span-inner">
              <span class="table__span table__span--amount">{{ item.amount }}</span>
              <span class="table__span">{{ $t('products') }}</span>
            </div>
          </div>
        </td>
        <td class="table__td" v-if="item.date">
          <div class="table__date">{{ item.date }}</div>
        </td>
        <td class="table__td" v-if="item.price.usd || item.price.uah">
          <div class="table__span-inner">
            <span class="table__price table__price--usd">{{ item.price.usd }} </span>
            <span class="table__price">{{ item.price.uah }} </span>
          </div>
        </td>
        <td class="table__td">
          <button class="table__close-button" @click.prevent="open(item)">✕</button>
        </td>
      </router-link>
    </tr>
  </table>
</template>

<style lang="scss" scoped>
.link {
  color: #000;
}
</style>
