<script setup lang="ts">
import Navigation from '@/components/App/Navigation.vue'
import Header from '@/components/App/Header.vue'
</script>

<template>
  <div class="app">
    <div class="header-component">
      <Header />
    </div>
    <div class="app__inner">
      <Navigation />
      <div class="content">
        <router-view v-slot="{ Component }">
          <transition name="fade" mode="out-in">
            <component :is="Component" />
          </transition>
        </router-view>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';
.app {
  overflow: hidden;
}

.app__inner {
  display: flex;
  gap: 10px;

  @include respond-to($mobile) {
    flex-direction: column;
  }
}

.content {
  width: 100%;
  @include respond-to($mobile) {
    padding-left: 20px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
