<script setup lang="ts">
interface Props {
  title: string
  amount: number
}

defineProps<Props>()
</script>

<template>
  <div class="heading__inner">
    <button class="heading__button">+</button>
    <h2>{{ title }} / {{ amount }}</h2>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins/mixins.scss';

.heading__inner {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 0;

  @include respond-to($mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
  }
}

.heading__button {
  background-color: #0da003;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}
</style>
